.git
.gitignore
.env
node_modules
npm-debug.log
docker-compose.yml
docker-compose.test.yml
test
*.log
*.pdf
*.png
*.jpg
*.jpeg
*.md
volumes
infra
.terraform
terraform.tfstate*
k8s
scripts
ansible
PICS
