node_modules/
.env
.env.*
.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
coverage/
dist/
build/
VIVA-CHEATSHEET.md
githubLink.txt
runningContainers02.png
runningContainers01.png
passingPipeLine.png
railwayDeploymentProof01.png
railwayDeploymentProof02.png
finalReport.pdf
dockerHubProof.png