apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: devops-articles
  labels:
    app: devops-articles
data:
  NODE_ENV: "docker"
  PORT: "3000"
  DB_HOST: "postgres-service"
  DB_PORT: "5432"
  DB_NAME: "devops_db"
  DB_USERNAME: "postgres"
  DB_SSL: "false"
  EMAIL_FROM: "DevOps Articles <noreply@tabeebemail.me>"
  APP_URL: "http://localhost:3000"
