apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: devops-articles
  labels:
    app: devops-articles
data:
  NODE_ENV: "production"
  PORT: "3000"
  DB_HOST: "postgres-service"
  DB_PORT: "5432"
  DB_NAME: "devops_db"
  DB_USERNAME: "postgres"
  DB_SSL: "false"
  EMAIL_FROM: "DevOps Articles <noreply@tabeebemail.me>"
  APP_URL: "http://aeab3ca7112b2462480d0ca854b12c1e-667800433.us-east-1.elb.amazonaws.com"
  COOKIE_SECURE: "false"
  AWS_REGION: "us-east-1"
  S3_UPLOADS_BUCKET: "devops-articles-uploads"
  # Allow self-signed SSL certificates from RDS
  NODE_TLS_REJECT_UNAUTHORIZED: "0"
