apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: devops-articles
  labels:
    app: devops-articles
    component: app
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  selector:
    app: devops-articles
    component: app
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
