apiVersion: v1
kind: ServiceAccount
metadata:
  name: app-sa
  namespace: devops-articles
  annotations:
    # Replace with the IAM role ARN created for Secrets Manager access via IRSA
    eks.amazonaws.com/role-arn: arn:aws:iam::322467327252:role/devops-admin
  labels:
    app: devops-articles
